{% extends 'base.html' %}

{% block css %}
    <style type="text/css">
        .pagenation>li{
            float: left;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="navbar_con">
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>全部商品分类</h1>
                <span></span>
                <ul class="subnav">
                    <li><a href="#" class="fruit">新鲜水果</a></li>
                    <li><a href="#" class="seafood">海鲜水产</a></li>
                    <li><a href="#" class="meet">猪牛羊肉</a></li>
                    <li><a href="#" class="egg">禽类蛋品</a></li>
                    <li><a href="#" class="vegetables">新鲜蔬菜</a></li>
                    <li><a href="#" class="ice">速冻食品</a></li>
                </ul>
            </div>
            <ul class="navlist fl">
                <li><a href="{% url 'index' %}">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>

    <div class="breadcrumb">
        <a href="#">全部分类</a>
        <span>></span>
        <a href="#">新鲜水果</a>
    </div>

    <div class="main_wrap clearfix">
        <div class="l_wrap fl clearfix">
            <div class="new_goods">
                <h3>新品推荐</h3>
                <ul>
                    <li>
                        <a href="#"><img src="/static/{{ newfruit.0.gimg }}"></a>
                        <h4><a href="#">{{ newfruit.0.gtitle }}</a></h4>
                        <div class="prize">￥{{ newfruit.0.gprice }}</div>
                    </li>
                    <li>
                        <a href="#"><img src="/static/{{ newfruit.1.gimg }}"></a>
                        <h4><a href="#">{{ newfruit.1.gtitle }}</a></h4>
                        <div class="prize">￥{{ newfruit.1.gprice }}</div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="r_wrap fr clearfix">
            <div class="sort_bar">
                <a href="{% url 'list' %}" >默认</a>
                <a href="{% url 'list2' %}" class="active">价格</a>
                <a href="{% url 'list3' %}">人气</a>
            </div>

            <ul class="goods_type_list clearfix">
                {% for foo in info %}
                    <li>
                        <a href="{% url 'car' %}?id={{ foo.id }}"><img src="/static/{{ foo.gimg }}"></a>
                        <h4><a href="{% url 'car' %}?id={{ foo.id }}">{{ foo.gtitle }}</a></h4>
                        <div class="operate">
                            <span class="prize">￥{{ foo.gprice }}</span>
                            <span class="unit">{{ foo.gprice }}/500g</span>
                            <a href="{% url 'car' %}?id={{ foo.id }}" class="add_goods" title="加入购物车"></a>
                        </div>
                    </li>
                {% endfor %}


            </ul>

            <div class="pagenation">
                {% if s.has_previous %}
                    <!-- 当前页的上一页按钮正常使用-->
                    <li class="previous"><a href="{% url 'list2' %}/?page={{ s.previous_page_number }}">上一页</a>
                    </li>
                {% else %}
                    <!-- 当前页的不存在上一页时,上一页的按钮不可用-->
                    <li class="previous disabled"><a href="#">上一页</a></li>
                {% endif %}
                <!-- 上一页按钮结束 -->
                <!-- 页码开始 -->
                {% for num in paginator.page_range %}
                    {% if num ==  currentPage %}
                        <li class="item active"><a href="{% url 'list2' %}/?page={{ num }}">{{ num }}</a></li>
                    {% else %}
                        <li class="item"><a href="{% url 'list2' %}/?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
                <!-- 页码结束 -->
                <!--下一页按钮开始 -->
                {% if s.has_next %}
                    <li class="next"><a href="{% url 'list2' %}/?page={{ s.next_page_number }}">下一页</a></li>
                {% else %}
                    <li class="next disabled"><a href="#">下一页</a></li>
                {% endif %}
            </div>
        </div>
    </div>




{% endblock %}